<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Letter_Changer.Properties.Settings.PractikConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Practik.accdb"
            providerName="System.Data.OleDb" />
        <add name="Letter_Changer.Properties.Settings.OrganisationBaseConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\OrganisationBase.accdb"
            providerName="System.Data.OleDb" />
        <add name="Letter_Changer.Properties.Settings.MainDataBaseConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\MainDataBase.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>